@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.paper {
  box-shadow:
    /* Тень верхнего слоя */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* Второй слой */ 0 10px 0 -5px #f5f5f5,
    /* Тень второго слоя */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* Третий слой */ 0 20px 0 -10px #f5f5f5,
    /* Тень третьего слоя */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}
